@use "../vars/vars";
@use "../vars/vars-night";

.omni__ {
	&wrp-output {
		width: 100%;
		justify-content: flex-end;
	}

	&output {
		@include vars.mix-shadow-1;

		position: absolute;
		z-index: vars.$z-omnisearch;
		padding: 0.2em 0.7em;
		border-radius: 0.2em;
		border: 1px solid rgb(0 0 0 / 15%);
		background: #fff;

		&--scrolled {
			position: fixed;
			top: 42px;
			right: 10px;
		}

		@media screen and (width > #{vars.$width-screen-xxs}) {
			max-width: 300px;
			min-width: 270px;
		}

		@media screen and (width > #{vars.$width-screen-xs}) {
			max-width: 460px;
			min-width: 430px;
		}

		@media screen and (width > #{vars.$width-screen-sm}) {
			max-width: 740px;
			min-width: 500px;
		}

		@media screen and (width <= #{vars.$width-screen-sm}) {
			top: 40px;
		}
	}

	&wrp-input {
		position: relative;

		@media screen and (width <= #{vars.$width-screen-md}) {
			margin-top: 2px;
			float: left;
		}

		.omni__ {
			&input.form-control {
				height: 32px;
				min-width: 100px;
				border-bottom-left-radius: 4px;
				border-top-left-radius: 4px;

				&:placeholder-shown + .omni__btn-clear {
					display: none;
				}

				@media screen and (width > #{vars.$width-screen-md}) {
					@at-root :not(.omni__wrp-input--scrolled)#{&} {
						border-top-left-radius: 0;
						border-top: 0;
					}
				}
			}

			&btn-clear {
				top: 9px;
				right: 39px;
				opacity: 0.5;
				cursor: pointer;

				&:focus,
				&:hover {
					opacity: 0.8;
				}
			}

			&submit {
				height: 32px;
				padding: 6px 8px;

				@media screen and (width > #{vars.$width-screen-md}) {
					@at-root :not(.omni__wrp-input--scrolled)#{&} {
						border-top-right-radius: 0;
						border-top: 0;
					}
				}
			}
		}

		&--scrolled {
			position: fixed;
			z-index: vars.$z-omnisearch;
			top: 5px;
			right: 10px;
			width: 125px;
			margin-top: 0;
			border-left: 85px solid transparent;

			.omni__ {
				&input.form-control {
					min-width: initial;
				}

				&btn-clear {
					// Here in case it's needed
				}

				&submit {
					// Here in case it's needed
				}
			}

			&:focus,
			&:focus-within,
			&:active,
			&:hover {
				width: 250px;
				border-left: 0;
			}

			&:not(:focus, :focus-within, :active, :hover) {
				// region Clear button
				.omni__ {
					&input.form-control {
						color: transparent;
					}

					&btn-clear {
						display: none;
					}
				}
				// endregion

				input {
					padding: 0;
				}
			}
		}
	}

	&wrp-paginate {
		display: flex;
		justify-content: space-between;

		> span {
			display: inline-block;
			user-select: none;
			padding: 2px;
			font-size: 1.1em;
			min-width: 20px;
		}
	}

	&paginate-ctrl {
		cursor: pointer;

		&:hover {
			color: vars.$rgb-active-blue;
		}
	}

	&paginate-left {
		margin-right: auto;
	}

	&paginate-count {
		margin: 0 auto;
	}

	&paginate-right {
		margin-left: auto;
	}

	&disp-srd {
		font-size: 8.5px;
		align-self: start;
		top: 2px;
		margin-right: 1px;
		margin-left: 2px;
	}

	&disp-source-marker {
		margin-left: 2px;
	}

	&wrp-page {
		margin-left: 4px;
		font-family: Convergence, Arial, sans-serif;
		font-weight: 100;
		font-size: 94%;
	}

}

.ve-night-mode {
	.omni__ {
		&output {
			background: #303030;
		}

		&input {
			&:focus {
				border-color: #66afe9;
			}
		}

		&btn-clear {
			// Here in case it's needed
		}

		&submit {
			&.btn-default:active:focus,
			&.btn-default:active:hover,
			&.btn-default {
				background-color: vars-night.$rgb-bg--night;
				color: vars-night.$rgb-font--night;
			}
		}

		&paginate-ctrl:hover {
			color: #999;
		}
	}
}
